@import url('https://fonts.googleapis.com/css?family=EB+Garamond');

h1,h6 {
   /*  border: 0.5px solid red; */
	display: table;
	margin: auto;
	font-family: 'EB Garamond', serif;
}

header {
	/* background: yellow; */
	letter-spacing: 0.4em;
	margin-top: 8%;
	margin-bottom:3%
}
main {
	margin-top: 10px;
}
img{
	width: 25%;
	padding: 10px;	
	float: left;
}
footer {
	clear: both;
}
